<% if @user.admin %>
   <h1> Welcome Admin <%=@user.username%>! </h1>
<% else %> 
   <h1> Welcome, <%=@user.username%>! </h1>
<% end %>

<%= flash[:notice] %>
<h2>  <%=@user.username%>'s Info </h2>
<p> Email: <%=@user.email%> </p>
<p> Bio: <%=@user.bio%> </p>

<p> <%=link_to "Edit My Info", edit_user_path(@user)%> </p>

<p> My IPA's </p>

<% if @user.reviews.empty? %>
   <p> Looks like you haven't tried any IPAs yet. Try one and write a review to add IPAs to this list!</p>
<% else %>
   <ul>
      <% @user.reviews.each do |r| %>
         <%= link_to r.ipa.name, ipa_path(r.ipa)%> 
      <% end %>
   </ul>
<% end %>
