<h1> All IPA's </h1>
<%= flash[:notice] %>
<h3> Would you like to <%= link_to "Create a new IPA?", new_ipa_path %></h3>
<ul>
<% @ipas.each do |i| %>
    <li> Name: <%= link_to i.name, ipa_path(i) %> </li>
    <p> Brand: <%= i.brand %> </p>
    <p> Size: <%= i.size %> </p>
    <br>
    <% end %>
</ul>
