<h3> Name: <%=@ipa.name%> </h3>
<%= flash[:notice] %>
<p> Brand: <%=@ipa.brand%> </p>
<p> Size: <%=@ipa.size%> oz. </p>
<p> <%=link_to "See All IPA's", ipas_path%> </p>
<% if admin? %>
    <p> <%= link_to "Delete This IPA", ipa_path(@ipa), method: :delete %> </p>
    <p> <%=link_to "Edit This Ipa", edit_ipa_path(@ipa)%> </p>
<% end %>

<h4> Reviews For this IPA </h4>
<% if @reviews.empty? %>
    <p> There are no reviews for this IPA yet.</p>
    <p> <%= link_to "Click here to write one!", new_ipa_review_path(@ipa)%> </p>
<% else %>
    <ul>
        <% @reviews.each do |r| %>
            <li> <%= link_to r.title, ipa_review_path(@ipa, r)%></li>
            <br>
        <% end %>
    </ul>
    <p> <%= link_to "Write a New Review", new_ipa_review_path(@ipa)%> </p>
<% end %>
