<h2>Review about <%= @ipa.name%> </h2> 
<h3> Title: <%= @review.title %> </h3>
<h4> Author: <%= @review.user.username%>  </h4>
<p> Content: <%= @review.content%> </p>

<%= link_to @ipa.name, ipa_path(@ipa)%><br>
<% if current_user.id == @review.user_id %>
    <%= link_to "Edit This Review", edit_ipa_review_path(@ipa, @review)%><br>
    <%= link_to "Delete This Review", ipa_review_path(@ipa, @review), method: :delete %>
    <% end %>