<!DOCTYPE html>
<html>
  <head>
    <title>IpaTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <br>
  </br>
  <footer>
  <% if logged_in? %>
    <%= button_to "Log out", logout_path, method: :delete %>
    <%= button_to "My Profile", user_path(current_user), method: :get %>
    <%= button_to "All IPAs", ipas_path, method: :get%>
  <% else %>
    <%= link_to "Sign Up", new_user_path %>
    <%= link_to "Sign In", signin_path %>
  <% end %>
  </footer>
</html>
